<div id="eventsGrid" class="row" pageNum="<?php echo $data['pageNumber']; ?>">
    <?php
        if(isset($data['last_events'])){
            for($i=0;$i<count($data['last_events']);$i++){
                if($i < Config::get('event_page_size')){
                    ?>
                    <div class="col-md-12 event_div">
                        <span class="EventHeader">
                            <a target="_blank" href="<?php echo Config::get('site_domain').'events/content/'.$data['last_events'][$i]->EventId; ?>"><?php echo $data['last_events'][$i]->PublisherInfo; ?></a>
                        </span><br/>
                        <?php echo $data['last_events'][$i]->Content; ?><br/>
                        <span class="EventFooter">
                            Ilan Sahibi : <?php echo $data['last_events'][$i]->CreatorUser; ?>    Ilan Tarihi : <?php echo $data['last_events'][$i]->PublishDate; ?>
                        </span><br/>
                    </div>
                    <?php
                }
                else{
                    break;
                }
            }
            if(count($data['last_events']) > Config::get('event_page_size') || $data['pageNumber'] > 1){
                    if($data['pageNumber'] > 1){
                        echo '<div class="col-md-1">';
                        echo '<button id="eventsPreviousPage" class="nextPage"> << </button>';    
                        echo "</div>";
                        echo '<div class="col-md-10"></div>';
                    }
                    else{
                        echo '<div class="col-md-11"></div>';
                    }
                    if(count($data['last_events']) > Config::get('event_page_size')){
                        echo '<div class="col-md-1"><button id="eventsNextPage" class="nextPage"> >> </button></div>';
                    }
                    else{
                        echo '<div class="col-md-1"></div>';
                    }
                }
        }
    ?>
</div>
