.event_div{
    border-radius: 7px;
    border: 2px solid #3C484D;
    padding-top:10px; 
    padding-bottom:10px; 
    margin-bottom: 15px;
}
.EventHeader a{
    color:#071626;
    font-weight: bold;
}
.EventFooter{
    color:#3C484D;
    font-weight: bold;
}
.nextPage{
    border-radius: 5px;
    width: 20px;
    font-weight: bold;
}