.event_div{
    border-radius: 7px;
    border: 2px solid #3C484D;
    padding-top:10px; 
    padding-bottom:10px; 
    margin-bottom: 15px;
}
.EventHeader a{
    color:#071626;
    font-weight: bold;
}
.EventFooter{
    color:#3C484D;
    font-weight: bold;
}
.EventContentDiv{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}
.EventContentDivText{
    font-weight: normal;
    color: #071626;
}