<!--ornek olarak pgotos.google hesabima ornek resmi olusturdum ve share secenegi ile https://goo.gl/photos/BiLtteQCUhEcBVZu6> linkini elde ettim,
sonrada https://www.labnol.org/internet/embed-google-photos-in-website/29194/ deki ornegi izleyerek,
(https://ctrlq.org/google/photos/?_ga=1.47941799.1841791830.1491130790) asagidakiler gibi embed linkler olusturdum"-->

<div id="photos_index_container" class="row"> 
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
    <div class="col-md-4 folder_div">
        <a target="_blank" href='https://photos.google.com/share/AF1QipNyCfWTlaU7uFVGbDoi5-KWtWVJ4XYCiK980TzKr3iyd3Z0REbwzlP78y3oUKur3g?key=LTg2R0FkaGc3aHFubGdub3JmWUFWTTBxS0hUTjR3&source=ctrlq.org'>
            <img height="100" width="100" src='https://lh3.googleusercontent.com/LoTkvHL9NrGyVtHMf16VNQnj9s30_tfgRsEuUOC04unTvylhIk6iceACaAyq6eH0gWB53VeM-yfQHQIuP93zDN-ecSiK52wOZ4TM4dsZBYyaGMLB5p4NPEN8aWe8ryDgk8An'/>
        </a>
        <br/>
        <span class="image_desc">Resim Aciklama: Buraya resimdeki kisi isimleri gelebilir</span>
    </div>
</div>