<div id="photos_index_container" class="row"> 
    <?php
        if(isset($data['folder_list'])){
            for($i=0;$i<count($data['folder_list']);$i++){
                ?>
    <div class="col-md-4 folder_div">
        <span class="folder_name"><?php echo $data['folder_list'][$i]->FolderName; ?></span>
        <br/>
        <a href="<?php echo Config::get('site_domain').'photos/folder/'.$data['folder_list'][$i]->FolderId; ?>"><img src="<?php echo Config::get('site_domain'); ?>webroot/img/folder.png" height="100" width="100"/></a>
        <br/>
        <span class="folder_owner">Hazirlayan: <?php echo $data['folder_list'][$i]->FolderCreators; ?></span>
    </div>
                <?php
            }
        }        
    ?>
</div>
