<div id="photos_index_container" class="row"> 
    <div class="col-md-4 folder_div">
        <span class="folder_name">Boyraz Buyukleri Almanagi</span>
        <br/>
        <a href="<?php echo Config::get('site_domain'); ?>photos/folder/almanak"><img src="<?php echo Config::get('site_domain'); ?>webroot/img/folder.png" height="100" width="100"/></a>
        <br/>
        <span class="folder_owner">Hazirlayan: Nuh Boyraz</span>
    </div>
    <div class="col-md-4 folder_div">
        <span class="folder_name">2016 Boyraz Bulusmasi Terelik Gezisi</span>
        <br/>
        <a href="#"><img src="<?php echo Config::get('site_domain'); ?>webroot/img/folder.png" height="100" width="100"/></a>
        <br/>
        <span class="folder_owner">Hazirlayan: Kagan Ozhan</span>
    </div>
    <div class="col-md-4 folder_div">
        <span class="folder_name">2015 Boyraz Bulusmasi Ayvali Piknigi</span>
        <br/>
        <a href="#"><img src="<?php echo Config::get('site_domain'); ?>webroot/img/folder.png" height="100" width="100"/></a>
        <br/>
        <span class="folder_owner">Hazirlayan: Necip Fazil Boyraz</span>
    </div>
    <div class="col-md-4 folder_div">
        <span class="folder_name">Kuluncak Koyler Tanitim</span>
        <br/>
        <a href="#"><img src="<?php echo Config::get('site_domain'); ?>webroot/img/folder.png" height="100" width="100"/></a>
        <br/>
        <span class="folder_owner">Hazirlayan: Mehmet Boyraz(Reis)</span>
    </div>
</div>
